.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.comment-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: #dee0e3 solid 2px;
  padding-bottom: 20px;
}

.comment-responsive-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.like-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #94a3b8;
  font-weight: 500;
}

.initial {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background-color: #0b69ff;
  text-align: center;
  padding: auto;
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  margin-right: 10px;
}

.comment-name {
  color: #334155;
  font-size: 23px;
}

.comment {
  color: #94a3b8;
  font-size: 15px;
}

.like-img {
  width: 20px;
  margin-right: 5px;
}

.like-text {
  padding-top: 55px;
}

.delete-img {
  width: 20px;
}
